.cardGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 150px 200px;
}

.card {
  display: flex;
  justify-content: center;
  min-width: 100px;
  max-width: 150px;
  height: 250px;
  border: 2px solid var(--black);
  border-radius: 10px;
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  user-select: none;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  backface-visibility: hidden;
  transition: 1s;
}

.card img.disabled {
  opacity: 0;
}

.card:hover,
.card:focus {
  transform: scale(1.02) perspective(500px) rotateX(10deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flip {
  animation: flip 0.5s ease-in-out alternate 2;
}

.canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

.loading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: scale(1.02) perspective(500px) rotateY(180deg);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
