:root {
  --black: #34444f;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(242, 242, 242);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1.2rem;
  border-bottom: solid 2px var(--black);
  color: var(--black);
  background-color: rgb(242, 242, 242);
  z-index: 1;
}

header h1 {
  cursor: pointer;
}

h1 {
  margin: 0;
}

h2 {
  margin: 20px;
}

.scores {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.2rem;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  text-transform: uppercase;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.overlay.active {
  display: block;
}

.win {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
  background-color: white;
  color: #37e075;
  border-radius: 10px;
  padding: 5px 40px;
  text-align: center;
  font-size: 2rem;
  transition: 0.3s;
}

.win button {
  padding: 12px 18px;
  margin: 5px;
  background-color: #252627;
  border: 2px solid #383838;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.win button:hover {
  background-color: #564e58;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.win.active {
  transform: translate(-50%, -50%) scale(1);
}
